<!DOCTYPE>
<html ng-app="exampleApp">
<head>
	<title>Directives</title>
	<meta charset="UTF-8">
	<script type="text/javascript" src="angular.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-theme.css">
	<script type="text/javascript">
		angular.module('exampleApp', [])
			.controller('defaultCtrl', function ($scope){
				$scope.todos = [
                    { action: "Get groceries", complete: false },
                    { action: "Call plumber", complete: false },
                    { action: "Buy running shoes", complete: true },
                    { action: "Buy flowers", complete: false },
                    { action: "Call family", complete: false }
                ];

                $scope.buttonNames = ["Red", "Green", "Blue"];

                $scope.settings = {
                    Rows: "Red",
                    Columns: "Green"
                };
			});
	</script>
    <style>
        tr.Red { background-color: lightcoral;}
        tr.Green { background-color: lightgreen;}
        tr.Blue { background-color: lightblue;}
    </style>
</head>
<body>

	<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
        <h3 class="panel-header">To Do List</h3>
        <h4>对CSS进行处理的指令</h4>
        
        <div class="row well">
            <div class="col-xs-6" ng-repeat="(key, value) in settings">
                <h4>{{key}}</h4>
                <div ng-class="radio" ng-repeat="button in buttonNames">
                    <label>
                        <input type="radio" ng-model="settings[key]" value="{{button}}"/>
                            {{button}}
                    </label>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Action</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in todos" ng-class="settings.Rows">
                    <td>{{$index+1}}</td>
                    <td>{{item.action}}</td>
                    <td ng-style="{'background-color': settings.Columns}">{{item.complete}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>