<!DOCTYPE>
<html ng-app="exampleApp">
<head>
	<title>Directives</title>
	<meta charset="UTF-8">
	<script type="text/javascript" src="angular.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-theme.css">
	<script type="text/javascript">
		angular.module('exampleApp', [])
			.controller('defaultCtrl', function ($scope){
				$scope.todos = [
                    { action: "Get groceries", complete: false },
                    { action: "Call plumber", complete: false },
                    { action: "Buy running shoes", complete: true },
                    { action: "Buy flowers", complete: false },
                    { action: "Call family", complete: false }
                ];

			});
	</script>
</head>
<body>

	<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
        <h3 class="panel-header">To Do List</h3>
        <h4>无法同时使用ngRepeat和ngIf来解决问题时</h4>
        
        <div class="checkbox well">
            <label>
                <input type="checkbox" ng-model="todos[2].complete" />
                    item 3 is complete
            </label>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Action</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr ng-repeat="item in todos" ng-if="!item.complete"> 会报错 -->
                <tr ng-repeat="item in todos | filter: {complete: 'false'}">
                    <td>{{$index+1}}</td>
                    <td>{{item.action}}</td>
                    <td>{{item.complete}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>