<!DOCTYPE>
<html ng-app="exampleApp">
<head>
	<title>Forms</title>
	<meta charset="UTF-8">
	<script type="text/javascript" src="angular.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-theme.css">
	<script type="text/javascript">
		angular.module('exampleApp', [])
			.controller('defaultCtrl', function ($scope){
				$scope.todos = [
                    { action: "Get groceries", complete: false },
                    { action: "Call plumber", complete: false },
                    { action: "Buy running shoes", complete: true },
                    { action: "Buy flowers", complete: false },
                    { action: "Call family", complete: false }
                ];

                $scope.addNewItem = function (newItem) {
                    $scope.todos.push({
                        action: newItem.action + "(" + newItem.$location + ")",
                        complete: newItem.complete
                    });
                };
			});
	</script>
</head>
<body>

	<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
        <h3 class="panel-header">
            To Do List
            <span class="label label-info">
                {{(todos | filter: {complete: 'false'}).length}}
            </span>
        </h3>

        <h4>对表单元素使用双向绑定数据</h4>
        
        
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Action</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in todos">
                    <td>{{$index+1}}</td>
                    <!-- <td ng-repeat="prop in item">{{prop}}</td> -->
                    <td>{{item.action}}</td>
                    <td>
                        <input type="checkbox" ng-model="item.complete" />
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>